* {
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    text-align: left;
    color: rgb(121, 20, 34);
}
body {
    background-image: url("./images/red\ geometric.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    box-shadow: 0px 0px 2px 2px rgb(121, 20, 34);
}
h1 {
    margin-right: 100px;
    font-size: 36px;
}
.main {
    background-color: rgba(175, 210, 212, 0.8);
    vertical-align: middle;
    padding:20px 47px;
    font-size: large;
}
.button {
    text-align: center;
    font-size: x-large;
    background-color:rgb(184, 13, 36);
}
a {
    text-decoration: none;
    color: rgb(198, 242, 248);
}
a:hover {
    color:rgb(240, 157, 164)
}
