* {
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", sans-serif;
    text-align: left;
    color: rgb(121, 20, 34);
}
body {
    background-image: url("./images/red\ geometric.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    box-shadow: 0px 0px 2px 2px rgb(121, 20, 34);
}
h1 {
    margin-right: 100px;
    font-size: 36px;
}
.main {
    background-color: rgba(208, 238, 240, 0.8);
    vertical-align: middle;
    padding:20px 47px;
    font-size: large;
}
.button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, rgb(121, 20, 34, 0.05), rgb(121, 20, 34, 1));
	background-color: rgb(173, 42, 60);
	border-radius:3px;
	border:1px solid rgb(121, 20, 34);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.button:hover {
    background:linear-gradient(to bottom, rgb(121, 20, 34, 0.05), rgb(121, 20, 34, 1));
	background-color:#ec767c;
}
.button:active {
    position:relative;
	top:1px;
}
a {
    text-decoration: none;
    color: rgb(212, 241, 245);
}
